h1 {
  font-style: italic;
  font-size: 100px;
  color: rgb(54, 31, 205);
  text-align: center;
}


body {
  background-image: url('fondo.png'); /* puede ser local o URL */
  background-size: cover;       /* ajusta la imagen al tamaño de la pantalla */
  background-position: center;  /* centra la imagen */
  background-repeat: no-repeat; /* evita que se repita */
}


.boton {
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
cursor: pointer;  /*cambia a la manito al pasar por encima*/
}