h1 {
  font-size: 70px;
  font-family: 'Broadway', sans-serif;
    font-weight: lighter;
  color: rgb(230, 161, 165);
  text-align: left;
  margin: 0px;
}

h2 {  
  font-family:'Showcard Gothic', sans-serif;
  font-weight: lighter;
  color: rgb(119, 172, 230);
  text-align: center;
  font-size: 50px;
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('imagenes/headerO2.png'); 
  background-size: cover;      
  background-position: center;  
  background-repeat: repeat;
  height: 108px;
}

body {
  background: rgb(252, 245, 236);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

.Logo {
  display: flex;
  height: 70px;
  width: auto; 
  padding: 0px 10px 0px 10px;
}

.Gelato {
  display: flex;
  margin: 0px 0px 0px 0px;
}


nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0%;
}

nav li {
  height: 45px;
  padding: 5px;
  align-content: center;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(230, 161, 165);
  color: white;
  padding: 5px;
  text-align: center; 
  font-size: 16px; 
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  cursor: pointer; 
  border: none; 
  border-radius: 12px; 
  align-items: center;
}

nav a:hover {
  background-color: rgb(204, 115, 120); 
}

.ImagenCabecera {
  height: 22px;
  width: auto; 
}

.Separador {
  display: flex;
  flex-grow: 1; 
}

.organizador {
  display: flex;
  height: 100%;
  column-gap: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px 0px;
  padding: 25px 10px 25px 10px;
  background-color: rgb(217, 181, 143);
}

.imagen {
  height: auto;
  width: 250px;
  border-radius: 50px;
  padding: 1px;
}

.informacion {
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  text-align: justify;
  background-color: rgb(232, 205, 175);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px 50px;
}

.mapa {
  height: auto;
  width: 250px;
  border-radius: 50px;
  padding: 1px;
  transition: transform 0.5s linear;
}

.mapa:hover {   
  transform: scale(1.30);
}