h1 {
  font-size: 100px;
  font-family: Broadway, sans-serif;
  color: rgb(230, 161, 165);
  text-align: left;
}

header {
  background-image: url('header.png'); /* puede ser local o URL */
  background-size: cover;       /* ajusta la imagen al tamaño de la pantalla */
  background-position: center;  /* centra la imagen */
  background-repeat: repeat; /* se repite */
  height: 130px;
}

body {
  background: rgb(252, 245, 236);  /*rgba (a,b,c,0.6) para poder modificar la opacidad*/
  background-size: cover;       /* ajusta la imagen al tamaño de la pantalla */
  background-position: center;  /* centra la imagen */
  background-repeat: repeat; /* evita que se repita */
  margin: 0;
  padding: 0;
}

.boton {
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
cursor: pointer;  /*cambia a la manito al pasar por encima*/
}