h1 {
  font-size: 70px;
  font-family: "Bagel Fat One", system-ui;
  font-weight: lighter;
  color: rgb(230, 161, 165);
  text-align: left;
  margin: 0px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../imagenes/header.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 110px;
}

.Logo {
  height: 70px;
  width: auto;
  padding: 0px 10px;
}

.Gelato {
  margin: 0px;
}

nav {
  padding: 0px 5px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0%;
}

nav li {
  height: 45px;
  padding: 5px;
  align-content: center;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(230, 161, 165);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

nav a:hover {
  background-color: rgb(204, 115, 120);
}

.ImagenCabecera {
  height: 22px;
  width: auto;
}

.Separador {
  display: flex;
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: rgb(232, 207, 202);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  color: rgb(104, 85, 64);
  position: relative;
  bottom: 0;
  gap: 50px;
}

.Integrantes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Century Gothic', sans-serif;
  text-align: center;
}

.Integrantes a {
  text-decoration: none;
  color: rgb(104, 85, 64);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.Integrantes a img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgb(104, 85, 64);
}

.Integrantes a h3 {
  margin: 0;
  font-size: 18px;
}

nav a input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  font-family: Tahoma, sans-serif;
  margin-left: 8px;
  background-color: rgba(233, 183, 185, 0.918);
  color: white;
}

nav a input:focus {
  background-color: rgb(228, 150, 154);
}

nav a input::placeholder {
  color: white;
}

#busqueda {
  width: auto;
}