html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: rgb(119, 172, 230);
  text-align: center;
  font-size: 55px;
  margin: 15px;
}

body {
  background: rgb(252, 245, 236);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

.organizador {
  display: flex;
  height: 60%;
  column-gap: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px 0px;
  padding: 25px 10px 25px 10px;
  background-color: rgb(217, 181, 143);
}

.imagen {
  height: auto;
  width: 250px;
  border-radius: 50px;
  padding: 1px;
}

.informacion {
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  text-align: justify;
  background-color: rgb(232, 205, 175);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px 50px;
  min-width: 700px;
}

.informacion ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.puntuacion {
  width: auto;
  height: 20px;
  margin: 1px 0px;
  vertical-align: text-top;
}

.sabores {
  height: auto;
  width: 250px;
  border-radius: 50px;
  padding: 1px;
  transition: transform 0.5s linear;
}

.sabores:hover {
  transform: scale(1.30);
}

section {
  text-align: center;
}

section ul {
  margin: 15px;
  padding: 0px;
}

ul ::marker {
  color: rgb(119, 172, 230);
}

#Sec1 {
  height: 85vh;
}

#Sec2 {
  height: auto;
  margin-bottom: 20px;
}

.BotonSec {
  display: inline-block;
  background-color: rgb(230, 161, 165);
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  align-self: right;
}

.BotonSec:hover {
  background-color: rgb(204, 115, 120);
  transform: scaleX(1.05);
}

.Contactos {
  display: flex;
  margin: 10px;
  font-size: 16px;
  list-style-type: none;
  padding: 2px;
  align-items: center;
  justify-content: space-evenly;
}

.ContactosImg {
  height: 20px;
  width: auto;
  padding: 0px 3px;
}

.Contactos li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contactos li a {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: black;
}

.ContenedorResenias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.Resenia {
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 15px;
  width: 80vw;
  background-color: rgb(232, 205, 175);
  padding: 20px;
  border-radius: 15px 50px;
}

.ReseniaCliente {
  width: 80vw;
  height: 100px;
  background-color: whitesmoke;
  border: 8px solid antiquewhite;
  font-family: 'Century Gothic', sans-serif;
  text-align: left;
  padding: 20px;
  margin: 15px;
}