html {
	scrollbar-color: rgb(230, 161, 165) rgb(232, 207, 202);
}

h2 {
	font-size: 36px;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	color: rgb(119, 172, 230);
	text-align: center;
}

body {
	background: rgb(252, 245, 236);
	margin: 0;
	padding: 0;
}

.contenedor {
	display: flex;
	flex-wrap: wrap;
	row-gap: 60px;
	column-gap: 60px;
	justify-content: center;
	width: 100%;
	margin: 40px auto 40px auto;
	max-width: 1400px;
}

.cuadro {
	flex: 0 0 calc(50% - 100px);
	width: 620px;
	height: 310px;
	background-color: rgb(232, 205, 175);
	border: 8px solid rgb(217, 181, 143);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	gap: 10px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	align-content: space-around;
}

.cuadro:hover {
	border-color: rgb(189, 160, 126);
	transform: scale(1.05);
}

.cuadro .titulo {
	align-self: center;
	text-align: center;
	margin: 0;
}

.cuadro .contenido {
	display: flex;
	gap: 20px;
}

.cuadro .imagen {
	margin: auto;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 8px;
	flex-shrink: 0;
}

.cuadro .info {
	list-style-type: none;
	padding: 5px;
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Century Gothic', sans-serif;
	text-align: left;
	align-self: center;
}

.cuadro .info li {
	padding: 4px 0px;
}

.infoPuntuacion {
	display: flex;
	align-items: center;
	gap: 3px;
}

.puntuacion {
	width: auto;
	height: 20px;
	margin: 1px;
}

.botonInfo {
	display: inline-block;
	padding: 5px;
	background-color: rgb(230, 161, 165);
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Tahoma, sans-serif;
	border-radius: 12px;
	cursor: pointer;
	width: 90px;
	align-self: center;
	text-align: center;
}

.botonInfo:hover {
	background-color: rgb(204, 115, 120);
	transform: scaleX(1.05);
}

#Abierto {
	font-weight: bold;
	font-style: italic;
	color: green;
}

#Cerrado {
	font-weight: bold;
	font-style: italic;
	color: red
}

.botonesPaginacion {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 30px;
}

button {
	margin: 0 5px;
	padding: 8px 12px;
	cursor: pointer;
	background-color: rgb(232, 205, 175);
	border: 2px solid rgb(217, 181, 143);
	border-radius: 8px;
	font-weight: bold;
	color: rgb(104, 85, 64);
}

button:hover {
	background-color: rgb(217, 181, 143);
}

button:disabled {
	background-color: rgb(217, 181, 143);
}